body {
    background-color: #f3f4f6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 24px;
    padding: 24px;
}

header.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22); 
}
.logo {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
}
header .nav-buttons {
    display: flex;
    gap: 12px;
}

.button0 {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.button0:hover {
    background-color: #2a364a;
    cursor: pointer;
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.button1:hover {
    background-color: #959fb1;
    cursor: pointer;
}

.title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 16px;
}

.subtitle{
    font-size: 18px; 
    line-height: 28px; 
    margin-bottom: 24px;
}

.heading{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.subheading{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}


.img-placeholder{
    height: 164px;
    background-color: #e5e7eb;
    border-radius: 4px;
}

hr.solid{
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 2px solid #dadada;
}

.input-label {
    font-size: 14px;        
    line-height: 20px;        
    font-weight: 500;           
    color: #374151;           
    margin-bottom: 4px;        
}

.input-style {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    transition: all 0.2s ease;
}

.input-style:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px black;
}